* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.main-container {
	position: relative;
	padding: 5px;
}

.header-title {
	padding: 5px 10px;
	font-size: 45px;
	margin: 0 0 25px;
}

.interface {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.interface-button {
	padding: 10px 30px;
	flex-grow: 1;
	margin: 15px 3px 0;
	background-color: #FFFFFF;
	box-shadow: 0 0 3px 1px #D2D2D2;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #D2D2D2;
	border-radius: 25px;
	cursor: pointer;
}

.interface-button:hover {
	background-color: #F0F0F0;
	box-shadow: 0 0 5px 3px #D2D2D2;
}

.task {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 3px 0;
}

.title-section {
	font-size: 35px;
	padding: 10px;
	margin: 50px 0 5px;
}

.new-task-block {
	display: flex;
	justify-content: space-between;
}

.new-task__input {
	padding: 10px;
	border: none;
	box-shadow: inset 0 0 3px 3px white;
	font-size: 16px;
	font-weight: 500;
	flex-basis: 90%;
	border-radius: 25px 0 0 25px;
}

.new-task__input:focus {
	outline: #000 solid 1px;
	outline-offset: -1px;
}

.empty-list-task {
	padding: 10px;
	font-size: 25px;
	background-color: white;
	box-shadow: 0 0 5px 5px white;
	text-decoration: underline;
}

.task__main-block {
	background-color: #FFFFFF;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	flex-basis: 95%;
	padding: 10px;
	min-height: 30px;
	box-shadow: 0 0 1px 1px #F0F0F0; 
	font-size: 18px;
}

.task__pinned-is-block {
	display: flex;
	justify-content: center;
	align-content: center;
}

.task__is-pinned-button {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 1px solid #D2D2D2;
	box-shadow: 0 0 3px 1px #D2D2D2;
	cursor: pointer;
	margin: -5px;
	margin-left: 5px;
}

.task__is-pinned-input:checked ~ .task__is-pinned-button {
	background-color: #EFEFEF;
	box-shadow: inset 0 0 3px 1px #D2DFD2;

}

.new-task-buttons {
	display: flex;
	flex-basis: 10%;
	justify-content: space-between;	
	cursor: pointer;
}

.task__clear {
	color: red;
	padding: 5px;
	margin: 0 5px;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	flex-shrink: 1;
	width: 50px;
}

.new-task__del {
	flex-basis: 50%;
	width: 50px;
}

.task__add {
	color: green;
	background-color: #FFFFFF;
	padding: 5px;
	border: none;
	box-shadow: inset 0 0 3px 3px white;
	font-size: 25px;
	font-weight: 500;
	flex-basis: 50%;
	border-radius: 0 25px 25px 0;
	flex-shrink: 1;
	vertical-align: center;
	text-align: center;
	margin-left: 1px;
	width: 50px;
}

.hidden-item {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.modal-main {
	position: fixed;
	z-index: 3;
	font-size: 24px;
	width: 50%;
	min-width: 350px;
	height: 100px;
	background-color: white;
	box-shadow: 0 0 1px 1px #D2D2D2;
	border-radius: 10px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}

.modal-wrap:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	box-shadow: inset 0 0 1px 1px green;
}

.modal-mess {
	display: flex;
	margin: auto;
}

.modal-buttons {
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translate(-50%);
	z-index: -3;
	display: flex;
}

.modal-button {
	width: 150px;
	margin: 0 10px;
}

.modal-wrap_error:before {
	box-shadow: inset 0 0 1px 1px red;
}

.no-scroll {
	overflow: hidden;
}